@font-face {
  font-family : 'Montserrat Light';
  src         : url('/assets/fonts/Montserrat-Light.woff2') format('woff2');
}

@font-face {
  font-family : 'Raleway Medium';
  src         : url('/assets/fonts/Raleway-Medium.woff2') format('woff2');
}

@font-face {
  font-family : 'Raleway Bold';
  src         : url('/assets/fonts/Raleway-Bold.woff2') format('woff2');
}

@light-font   : 'Montserrat Light';
@regular-font : 'Raleway Medium';
@bold-font    : 'Raleway Bold';

@black     : rgb(0, 0, 0);
@white     : rgb(255, 255, 255);
@gray      : rgb(128,128,128);
@dark-gray : rgb(80, 80, 80);
@purple    : #a04095;
@gold      : rgb(255, 215, 0);

* { box-sizing: border-box; }

body {
  margin      : 0;
  padding     : 0;
  font-family : @light-font;
}

::-webkit-scrollbar { display: none; }

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button:focus { outline: 0; }

img { user-select: none; }

@debug: false;
