@font-face {
  font-family : 'light';
  src         : url('/assets/fonts/light.woff2') format('woff2');
}

@font-face {
  font-family : 'regular';
  src         : url('/assets/fonts/regular.woff2') format('woff2');
}

@light-font   : 'light';
@regular-font : 'regular';

@black     : rgb(0, 0, 0);
@white     : rgb(255, 255, 255);
@gray      : #64686d;
@dark-gray : rgb(80, 80, 80);
@purple    : #a04095;
@gold      : rgb(255, 215, 0);

* { box-sizing: border-box; }

body {
  margin      : 0;
  padding     : 0;
  font-family : @light-font;
}

::-webkit-scrollbar { display: none; }

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button:focus { outline: 0; }

img { user-select: none; }

.breakpoint-2048(@rules) {
  @media only screen and (min-width: 2049px) { @rules(); }
}
.breakpoint-2048-1920(@rules) {
  @media only screen and (min-width: 1921px) and (max-width: 2048px) { @rules(); }
}
.breakpoint-1920-1600(@rules) {
  @media only screen and (min-width: 1601px) and (max-width: 1920px) { @rules(); }
}
.breakpoint-1600-1440(@rules) {
  @media only screen and (min-width: 1441px) and (max-width: 1600px) { @rules(); }
}
.breakpoint-1440-1280(@rules) {
  @media only screen and (min-width: 1281px) and (max-width: 1440px) { @rules(); }
}
.breakpoint-1280-1024(@rules) {
  @media only screen and (min-width: 1025px) and (max-width: 1280px) { @rules(); }
}
.breakpoint-1024(@rules) {
  @media only screen and (max-width: 1024px) { @rules(); }
}

.breakpoint-lte-1680(@rules) {
  @media only screen and (max-width: 1680px) { @rules(); }
}

@debug: false;
